<div class="panel no-border bg-primary">
    <div class="panel-heading">
        <div class="panel-title">{{::item.title}} Light</div>
    </div>
    <div class="panel-body">
        <div class="padding-25">
            <h5 class="text-white" ng-repeat="command in item.commands">{{ ::command }}</h5>

            <br />

            <button type="button" class="btn btn-master btn-cons btn-animated from-left fa fa-play">
                <span>Run</span>
            </button>

        </div>
    </div>

</div>