<div class="panel panel-transparent">
    <div class="panel-heading">
        <div class="panel-title">Your devices</div>
    </div>
    <div class="panel-body">

        <div class="row">
            <div class="col-md-3 m-b-20" ng-repeat="device in devices.devices">
                <homehub-edit-device device="device"></homehub-edit-device>
            </div>
        </div>

    </div>

</div>

<br/>

<div class="panel panel-transparent">
    <div class="panel-heading">
        <div class="panel-title">Add a device</div>
    </div>
    <div class="panel-body">

        <div class="row">
            <div class="col-md-3 m-b-20" ng-repeat="device in devices.addDevices">
                <homehub-add-device device="device"></homehub-add-device>
            </div>
        </div>

    </div>


</div>

