<script type="text/ng-template" id="withingsDeviceRow">

    <div class="col-sm-4">
        <div class="form-group form-group-default">
            <label>Device title</label>
            <input type="text" ng-model="row.title" class="form-control">
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group form-group-default">
            <label>Device type</label>
            <select ng-model="row.type" class="form-control">
                <option>Smart body weight</option>
                <option>Blood pressure monitor</option>
                <option>Sleep monitor</option>
                <option>Withings Pulse</option>
            </select>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group form-group-default">
            <label>Device location</label>
            <select ng-model="row.location" class="form-control"></select>
        </div>
    </div>

</script>

<div class="modal-header clearfix text-left">
    <button type="button" class="close" aria-hidden="true" ng-click="modalInstance.close()"><i
            class="pg-close fs-14"></i>
    </button>
    <h5>Add Wemo</h5>
</div>

<form name="form" ng-submit="modalInstance.submit(form)">

    <div class="modal-body">

        <div class="row">

            <div class="col-sm-4">

                <h5>Instruction</h5>

            </div>
            <div class="col-sm-8">

                <homehub-add-device-rows template="withingsDeviceRow" model="modalInstance.data" field="devices"
                                         label="Withings Devices"></homehub-add-device-rows>

            </div>

        </div>

    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary btn-cons pull-right inline" data-dismiss="modal">
            Add
        </button>
        <button type="button" class="btn btn-default btn-cons pull-right inline" ng-click="modalInstance.close()">Cancel
        </button>
    </div>

</form>
