.page-sidebar .sidebar-overlay-slide {
    padding: 150px 0px 20px 0px;
}

.bg-off {
    background: #939393;
}

.bg-on {
    background-color: #48B0F7;
}

.bg-open {
    background-color: #F55753;
}

.bg-closed {
    background-color: #10CFBD;
}

.bg-light-100 {
    background-color: #F8D053;
}

.bg-light-80 {
    background-color: #F9D975;
}

.bg-light-60 {
    background-color: #F7E2A1;
}

.bg-light-40 {
    background-color: #FCEDBD;
}

.bg-light-20 {
    background-color: #FEF6DD;
}

.bg-temp-10 {
    background-color: #3C93CE;
}

.bg-temp-15 {
    background-color: #48B0F7
}

.bg-temp-20 {
    background-color: #F8D053;
}

.bg-temp-25 {
    background-color: #F55753;
}

.bg-temp-30 {
    background-color: #CD4945;
}

.thermostat .noUi-marker {
    background: #FFFFFF;
}

.thermostat .noUi-pips {
    color: #FFFFFF;
}

