<script type="text/ng-template" id="thermostat">
    <div class="panel no-border bg-master widget widget-6">
        <div class="panel-heading">
            <div class="panel-title">{{::item.type}}</div>
        </div>
        <div class="panel-body">
            <div class="padding-25">
                <h1 class="text-white semi-bold" ng-if="item.values.currentTemp == 0">OFF</h1>

                <h1 class="text-white semi-bold" ng-if="item.values.currentTemp != 0 && item.values.currentTemp != 100">
                    {{item.values.currentTemp}}°</h1>

                <h1 class="text-white semi-bold" ng-if="item.values.currentTemp == 100">ON</h1>
                <br/>

                <div homehub-thermostat-slider class="bg-master"
                     item-id="item.id"
                     value="item.values.currentTemp"
                     max="item.values.maxTemp"
                     min="item.values.minTemp"
                     on-set="climate.setValue"></div>
            </div>

        </div>
    </div>
</script>

<script type="text/ng-template" id="weatherstation">
    <div class="panel no-border bg-complete widget">
        <div class="panel-heading">
            <div class="panel-title">{{::item.type}}</div>
        </div>
        <div class="panel-body">
            <div class="padding-25">
                <h1 class="text-white semi-bold">{{item.values.temperature}}°</h1>

                <div class="row">
                    <div class="col-md-12">
                        <p class="pull-left">Humidity</p>

                        <p class="pull-right bold">{{::item.values.humidity}}&nbsp;%</p>
                    </div>


                    <div class="col-md-12">
                        <p class="pull-left">Pressure</p>

                        <p class="pull-right bold">{{::item.values.airpressure}}&nbsp;mbar</p>
                    </div>

                    <div class="col-md-12">
                        <p class="pull-left">CO<sub>2</sub></p>

                        <p class="pull-right bold">{{::item.values.co2}}&nbsp;ppm</p>
                    </div>

                </div>


            </div>
        </div>

    </div>
    </div>
</script>

<div class="container-fluid container-fixed-lg ">
    <ul class="breadcrumb">
        <li>
            <a href="#/">Home</a>
        </li>
        <li><a href="#/climate" class="active">Climate</a>
        </li>
    </ul>
    <!-- END BREADCRUMB -->
</div>

<div class="container-fluid container-fixed-lg">

    <div class="panel panel-transparent ">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs nav-tabs-left nav-tabs-fillup">
            <li class="active">
                <a data-toggle="tab" pg-tab href="#tab" ng-click="climate.resetFilter()"><span>All</span></a>
            </li>
            <li ng-repeat="location in climate.locations">
                <a data-toggle="tab" pg-tab ng-href="#tab" ng-click="climate.filterLocation(location.id)"><span>{{::location.title}}</span></a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="tab">
                <div class="row column-seperation">
                    <div class="col-md-12">

                        <div class="row row-same-height">

                            <div class="col-md-4" ng-repeat="item in climate.filteredItems">

                                <ng-include src="'thermostat'" ng-if="item.type == 'thermostat'"></ng-include>
                                <ng-include src="'weatherstation'" ng-if="item.type == 'weatherstation'"></ng-include>

                            </div>


                        </div>

                    </div>


                </div>
            </div>
        </div>

    </div>

</div>
