<div class="panel panel-transparent ">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-tabs-fillup">
        <li class="active">
            <a data-toggle="tab" pg-tab href="#tab" ng-click="climate.resetFilter()"><span>All</span></a>
        </li>
        <li ng-repeat="location in climate.locations">
            <a data-toggle="tab" pg-tab ng-href="#tab" ng-click="climate.filterLocation(location.id)"><span>{{::location.title}}</span></a>
        </li>
    </ul>

    <div class="tab-content" style="min-height: 80vh;">
        <div class="tab-pane active" id="tab">
            <div class="row column-seperation">
                <div class="col-md-12">

                    <div class="row">

                        <div ng-repeat-start="item in climate.filteredItems"></div>

                        <div class="col-md-4 m-b-20">

                            <ng-include src="'components/items/thermostat.html'"
                                        ng-if="item.type == 'thermostat'"></ng-include>
                            <ng-include src="'components/items/weatherstation.html'"
                                        ng-if="item.type == 'weatherstation'"></ng-include>

                        </div>

                        <div ng-if="$index % 3 == 2" class="clearfix"></div>

                        <div ng-repeat-end=""></div>

                    </div>

                </div>


            </div>
        </div>
    </div>

</div>
