<div class="panel panel-transparent ">

    <ul class="nav nav-tabs nav-tabs-fillup">
        <li class="active">
            <a data-toggle="tab" pg-tab href="#tab"><span>{{rooms.location.title}}</span></a>
        </li>
    </ul>

    <div class="tab-content" style="min-height: 80vh;">
        <div class="tab-pane active" id="tab">
            <div class="row column-seperation">
                <div class="col-md-12">

                    <div class="row">

                        <div ng-repeat-start="item in rooms.items"></div>

                        <div class="col-md-4 m-b-20">

                            <ng-include src="'components/items/thermostat.html'"
                                        ng-if="item.type == 'thermostat'"></ng-include>
                            <ng-include src="'components/items/weatherstation.html'"
                                        ng-if="item.type == 'weatherstation'"></ng-include>
                            <ng-include src="'components/items/light.html'" ng-if="item.type == 'light'"></ng-include>
                            <ng-include src="'components/items/dimmer.html'" ng-if="item.type == 'dimmer'"></ng-include>
                            <ng-include src="'components/items/colorlight.html'"
                                        ng-if="item.type == 'colorlight'"></ng-include>
                            <ng-include src="'components/items/switch.html'" ng-if="item.type == 'switch'"></ng-include>
                            <ng-include src="'components/items/bodyweight.html'"
                                        ng-if="item.type == 'bodyweight'"></ng-include>
                            <ng-include src="'components/items/doorlock.html'"
                                        ng-if="item.type == 'doorlock'"></ng-include>
                            <ng-include src="'components/items/windowcontact.html'"
                                        ng-if="item.type == 'windowcontact'"></ng-include>
                            <ng-include src="'components/items/cctv.html'" ng-if="item.type == 'cctv'"></ng-include>
                            <ng-include src="'components/items/smokedetector.html'"
                                        ng-if="item.type == 'smokedetector'"></ng-include>


                        </div>

                        <div ng-if="$index % 3 == 2" class="clearfix"></div>

                        <div ng-repeat-end=""></div>

                    </div>

                </div>

            </div>


        </div>
    </div>
</div>

</div>

