<div class="panel no-border bg-primary widget">
    <div class="panel-heading">
        <div class="panel-title">{{::item.title}} Bodyweight</div>
    </div>
    <div class="panel-body">
        <div class="padding-25">
            <h1 class="text-white semi-bold">{{item.values.weight}}&nbsp;kg</h1>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="pull-left">Body fat</p>

                <p class="pull-right bold">{{::item.values.fat}}&nbsp;%</p>
            </div>
        </div>
    </div>
</div>