<div class="panel no-border"
     ng-class="{ 'bg-off':  !item.values.on }"
     ng-style="{ 'background-color': item.values.on ? item.values.color : '' }">
    <div class="panel-heading">
        <div class="panel-title">{{::item.title}} Color Light</div>
    </div>
    <div class="panel-body">
        <div class="padding-25">
            <h1 class="text-white semi-bold" ng-if="item.values.on == false">OFF</h1>

            <h1 class="text-white semi-bold" ng-if="item.values.on == true">ON</h1>
            <input type="checkbox" class="js-switch" retro-switch
                   item-id="item.id"
                   value="item.values.on"
                   on-set="lighting.setValue"/>

        </div>
        <div class="text-center">
            <div retro-color-picker style="width: auto;"
                 item-id="item.id"
                 value="item.values.color">
            </div>
        </div>
    </div>
</div>