<div class="panel no-border bg-master widget widget-6">
    <div class="panel-heading">
        <div class="panel-title">{{::item.type}}</div>
    </div>
    <div class="panel-body">
        <div class="padding-25">
            <h1 class="text-white semi-bold" ng-if="item.values.current == 0">OFF</h1>

            <h1 class="text-white semi-bold" ng-if="item.values.current != 0">
                {{item.values.current}}%</h1>
            <br/>

            <div retro-dimmer-slider class="bg-master"
                 item-id="item.id"
                 value="item.values.current"
                 on-set="lighting.setValue"></div>
        </div>

    </div>
</div>