<div class="panel no-border" ng-class="{ 'bg-open': !item.values.closed, 'bg-closed': item.values.closed }">
    <div class="panel-heading">
        <div class="panel-title">{{::item.title}} Doorlock</div>
    </div>
    <div class="panel-body">
        <div class="padding-25">
            <h1 class="text-white semi-bold" ng-if="item.values.closed == false">OPEN</h1>

            <h1 class="text-white semi-bold" ng-if="item.values.closed == true">CLOSED</h1>
            <input type="checkbox" class="js-switch" retro-switch
                   item-id="item.id"
                   value="item.values.open"
                   on-set="security.setValue"/>
        </div>
    </div>
</div>