<div class="panel no-border thermostat"
     ng-class="{
     'bg-temp-30': item.values.temp > 25,
     'bg-temp-25':  item.values.temp <= 25 && item.values.temp > 22,
     'bg-temp-20': item.values.temp <= 22 && item.values.temp > 18,
     'bg-temp-15': item.values.temp <= 18 && item.values.temp > 14,
     'bg-temp-10': item.values.temp <= 14 && item.values.temp > 0,
     'bg-off': item.values.temp == 0
     }">

    <div class="panel-heading">
        <div class="panel-title">{{::item.title}} Thermostat</div>
    </div>

    <div class="panel-body">
        <div class="padding-25">
            <div>
                <h1 class="text-white semi-bold inline" ng-if="item.values.temp == 0">OFF</h1>

                <h1 class="text-white semi-bold inline" ng-if="item.values.temp != 0 && item.values.temp != 100">
                    {{item.values.temp}}°</h1>
                &nbsp;
                <h3 class="text-white inline" ng-if="item.values.temp > item.values.currentTemp">Heating</h3>

                <h3 class="text-white inline" ng-if="item.values.temp ==  item.values.currentTemp">Holding</h3>

                <h3 class="text-white inline" ng-if="item.values.temp < item.values.currentTemp">Cooling</h3>
            </div>

            <br/>

            <div retro-thermostat-slider class="bg-master"
                 item-id="item.id"
                 value="item.values.temp"
                 current="item.values.currentTemp"
                 max="item.values.maxTemp"
                 min="item.values.minTemp"
                 on-set="climate.setValue"></div>

            <br />
        </div>
    </div>

</div>